@use "sass:math";
@use "../../sass/variables/" as v;

.bannerPageOuter {
  margin-bottom: -41rem;
  .bannerImageWrapper {
    overflow: hidden;
    width: 100%;
    height: 49rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // gap: 6rem;
    // align-items: center;
    // opacity: 0.9;

    // img {
    //   width: 100%;
    // }
  }
}
