@use "../../sass/base.module" as *;
@use "../../sass/variables" as v;
@use "../../sass/typography.module";

.latestrecipes {
  @extend %container;
}

.latestrecipesContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: v.$sp3;
  row-gap: v.$sp4;

  img {
    width: 100%;
  }
}
