@use "./variables" as v;

h3 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

h3 {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.styled-font {
  font-family: v.$greotvibes;
  font-size: 5em;
  text-transform: lowercase;
  margin: 0 0.7rem 0 0.5rem;
  position: relative;
  top: -5px;
}

h2.section-title {
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3em;
  color: v.$primaryColor;

  span {
    background-color: #fff;
    padding: 0 8px 0 14px;
    position: relative;
    z-index: 3;
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid v.$primaryColor;
    margin: -11px 0 35px;
    position: relative;
  }
}

p {
  line-height: 2rem;
}
